@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color:#000;
  color: #fff;
  padding: 0.5em 0.75em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}


.nav{
    margin: 1em;
    padding: 0;
    list-style-type: none;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
}



.logo {
    margin: 0 2rem;
    align-items: center;
    width: 100px;
}
.header {
	background-color:#737174;
    overflow: hidden;
}


body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

a:hover,
a:active {
    /*
    Its' okay to remove the focus rectangle to mouse users 
    IT'S NOT OKAY TO REMOVE IT FOR KEYBOARD USERS!!!!!!!
    */
    outline: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited { 
    background-color: #9ad2db;
    
    color: #fff;
}

a:focus {
    outline: 3px solid #fff;
}

.banner {
    position: relative;
    text-align: center;
}

.banner-img {
    padding-top: 66.56%;
    background-image: url(../images/ballet.gif);
    background-size: cover;
}
.intro-wrap {
    background-color: #333;
    color: #fff;
}

.button {
    border:1px solid #515153 ;
    border-radius: 5px;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 14px 30px 14px 30px;
    text-decoration: none; 
    display:inline-block;
    font-weight:bold; color: #000;
    background-color: #9ad2db ; 
    background-image: linear-gradient(to bottom, #9ad2db, #daf1f2);
}

.button:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom,#9d9d9d, #9d9d9d);
    color: #fff;
}

.intro{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color:#9ad2db;
    font-size: 40px;
}

.sub-head{ 
    color: #fff;
    font-size: 15px;
}

h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 3em;

}

.box-one {
	background-color:#fff
}




.footer {
	background-color: #000;
	text-align: center;
	color: #f2f2f2;
}

.copyright {
	margin-top: 8em;
}

.keys {
	background-color: #000;
	color: #fff;
}

.keys h3 {
	padding-top: 2em;
}

.worlds-most {
	text-align: center;
}

.worlds-most h2 {
	padding-top: 1em;
	color: #000;
}

.worlds-most p {
	margin-top: -.75em;
}

@media only screen and (min-width: 25em) {
    
    .nav li {
        display: inline-block;
    }

    .nav {
        text-align: center;
        padding: 0;
    }
    
@media only screen and (min-width: 38em) {
    .nav{
        text-align: right;
        margin-top: -1.5em;
    }
    
      .intro-wrap {
      bottom: 0;
      position:  absolute;
      background-color: transparent;
      margin-bottom: 4.5em;
      min-height: 20rem;
      }
    
      .intro{
        max-width: 25rem;
        font-size: 45px;
    }
    
    .sub-head{
        max-width: 25rem;
        text-align: center;
        font-size: 18px;
    }
  }

@media only screen and (min-width: 60em) {
      
    .nav-footer {
        text-align: right;
    }
	
    .intro-wrap {
        bottom: 0;
        position:  absolute;
        background-color: transparent;
        margin-bottom: 15em;
    }
    
    .intro{
        max-width: 38rem;
        font-size: 55px;
        
    }
    
    .sub-head{
        max-width: 38rem;
        font-size: 28px;
    }
}
@media only screen and (min-width:90em) {
    
    .nav-footer {
        text-align: right;
    }
    
    .copyright{
         text-align: left;
  }
     .intro-wrap {
        bottom: 0;
        position:  absolute;
        background-color: transparent;
        margin-bottom: 19em;
    }
    
    .intro{
        max-width: 50rem;
        font-size: 55px;
        
    }
    
    .sub-head{
        max-width: 50rem;
        font-size: 28px;
    }
    
}

@media only screen and (min-width:120em) {
 
    .nav-footer {
        text-align: right;
    }
    
    .copyright{
         text-align: left;
    }
    
     .intro-wrap {
         bottom: 0;
         position:  absolute;
         background-color: transparent;
         margin-bottom: 19em;
    }
    
    .intro{
        max-width: 60rem;
        font-size: 80px;
        
    }
    
    .sub-head{
        max-width: 60rem;
        font-size: 40px;
    }
    

}